<p id="notice"><%= notice %></p>

<p>
  <b>How did:</b>
  <%= @inquiry.how_did %>
</p>

<p>
  <b>Issue type:</b>
  <%= @inquiry.issue_type %>
</p>

<p>
  <b>Email:</b>
  <%= @inquiry.email %>
</p>

<p>
  <b>Phone no:</b>
  <%= @inquiry.phone_no %>
</p>

<p>
  <b>First name:</b>
  <%= @inquiry.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @inquiry.last_name %>
</p>


<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Back', inquiries_path %>
